body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000000; /* Solid black background */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000; /* Solid black background */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textField-container {
  margin-bottom: 20px; /* Space between TextField and Button */
}

.name-input {
  width: 300px; /* Adjust width as needed */
}

.button-container {
  width: 300px; /* Match the width of the TextField */
}

.start-button {
  width: 100%; /* Make button take full width of container */
}

.custom-outline {
  border-radius: 8px;
}
